<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perguntas</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>Guia de perguntas</h1>
    <hr>
   <p>Nome: <%=nome%></p> 
   <p>Linguagem favorita: <%=lang%></p>
   <%if(mensagem){%>
    <h3>Isso é uma mensagem de erro</h3>
   <%} else{%>
    <h3>Nenhum erro!</h3>
<%}%>
</body>

</html>