<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            display: flex;
            align-items: center;
            margin: 50px 100px;
            flex-direction: column;

        }

        button,
        a {
            background-color: #80b3ec;
            font-family: Arial, Helvetica, sans-serif;
            border-radius: 200px;
            color: rgb(0, 0, 0);
            padding: 10px 12px;
            text-decoration: none;
            margin-top: 100px;
        }
    </style>
</head>

<body>
    <div>
        <img src="/img/not_found.png" alt="not found">
        <button><a href="/">Voltar ao início</a></button>
    </div>
</body>

</html>