<%-include('partials/header.ejs')%>

    <body>
        <%-include('partials/navbar.ejs')%>
        <div class="container">
            <div class="card" id="formulario-pergunta">
                <div class="card-header">
                    <h3>Realizar pergunta</h3>
                </div>
                <div class="card-body">
                    <form action="/salvarpergunta" method="POST">
                        <label>Título</label>
                        <input name="titulo" type="text" placeholder="Título" class="form-control">
                        <br><label>Descrição</label>
                        <textarea name="descricao" cols="30" rows="10" , placeholder="Descreva sua pergunta"
                            class="form-control"></textarea>
                        <br>
                        <button class="btn btn-success">Enviar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
    <%-include('partials/footer.ejs')%>